@model IEnumerable<BaseLineProject.Models.dbCustomer>
@{
    ViewData["Title"] = "Form Data Customer";

    var isAdmin = User.IsInRole("Admin").ToString();
}

<style>
    #myPopup {
        display: none;
        position: absolute;
        top: 50px;
        right: 50%;
        background-color: blue;
        height: 100px;
        width: 100px;
    }

    #myExit {
        position: absolute;
        right: 0px;
        text-align: right;
        color: white;
        background-color: red;
    }

    .btn-primary2 {
        color: #ffffff;
        background-color: #000000;
        border-color: #000000 !important
    }

        .btn-primary2:hover {
            color: #fff;
            background-color: #be0000;
            border-color: #be0000 !important
        }
    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }
</style>
<p>
</p>

<table class="table table-striped" id="IndexTbl">
    <thead>
        <tr>
            <th>Num.</th>
            <th>
                Tanggal Daftar
            </th>
            <th>
                Name
            </th>
            <th>
                Username
            </th>
            <th>
                Perusahaan
            </th>

            <th>
                Plan
            </th>

            <th>
                <label>Actions</label>
            </th>
        </tr>
    </thead>
    <tbody id="tbodyid">
        @{
            var i = 1;
        }
        @foreach (var dt in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @if (dt.REG_DATE != null)
                    {
                        @dt.REG_DATE.Date.ToString("dd/MM/yyyy")
                        ;
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => dt.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.CUST_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.COMPANY)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => dt.VA1NOTE)

                </td>



                <td>
                    <div>
                        &nbsp;
                        @if (User.IsInRole("AccountAdmin"))
                        {
                            if (dt.FLAG_AKTIF == "1")
                            {
                                <a asp-action="Delete" asp-route-id="@dt.id" class="btn btn-sm btn-dark">Deactivate</a>

                            }
                            else
                            {
                                <a asp-action="ActivateAcc" asp-route-id="@dt.id" class="btn btn-sm btn-dark">Activate</a>

                            }

                        }
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#IndexTbl').DataTable();
        });
    </script>
}

